<footer class="w-full h-full md:h-full pt-6">
    <section class="md:flex items-center text-center justify-around">
        <section class="transform-translate-50 pb-4">
            <h3 class="text-lg font-bold md:pb-2">Know Us</h3>
            <ul class="">
                <li><a href="/#aboutid">Our Story</a></li>
                <li><a href="tel:+916553688897">Contact Us</a></li>
                <li><a href="">Locate Us</a></li>
                <li><a href="/blog/cakeblog">Blogs</a></li>
            </ul>
        </section>
        <section class=" transform-translate-50">
            <h3 class="text-lg font-bold md:pb-2">Need Help</h3>
            <ul class="">
                <li><a href="tel:+916553688897">Call Us</a></li>
                <li><a href="">Mail Us</a></li>
                <li><a href="">Cancellation and Refund</a></li>
                <li><a href="">Privacy Policy</a></li>
            </ul>
        </section>
        <section class="pt-3">
            <h3 class="text-lg font-bold md:pb-2">Find Us</h3>
            <ul class="">
                <a  href="https://www.facebook.com/rachna.agarwal.3994885" target="_blank"><i class="fab fa-facebook"></i></a>
                <a class="pl-4" href="https://www.instagram.com/rachna_harlalka" target="_blank"><i class="fab fa-instagram"></i></a>
                <a class="pl-4" href="https://www.twitter.com/harlalka_rachna" target="_blank"><i class="fab fa-twitter"></i></a>
                <a class="pl-4" href="" target="_blank"><i class="fab fa-youtube"></i></a>

                <div class="news pt-2">
                    <h3 class="">Subscribe Our Newsletter</h3>
                <input class="rounded-full px-2 py-.6 focus:outline-none" type="email" name="" id="subscribeEmail" placeholder="Enter Email Address">
                <!-- <br class=""> -->
                <button type="submit" class="btn-primary rounded-full px-3 py- mt-2 bg-red-500">Subscribe</button>
                </div>
            </ul>
        </section>
    </section>
    <section class="pt-4">
        <hr>
        <p class="text-center">©Baketion.com | Managed by Vancey</p>
    </section>
</footer>