<section class="container w-full productPage">
    <section class="flex py-10 justify-between ">
        <div class="prodImage">
            <img src="/img/<%= cake.image %>" alt="" srcset="">
        </div>
        <div class="right-buy content-center">
            <h1 class="text-orange-600 font-bold text-2xl capitalize">
                
            </h1>
            <h4 class="capitalize"><em>1 medium</em></h4>
            <h1 class="text-orange-500 font-bold text-xl">₹ 666</h1>
            <button>
                <h1 class="capitalize" id="option">options</h1>
            </button>
            <form action="" method="post">
                <span>
                    <label for="">Pounds</label>
                    <select>
                        <option value="1 Pound">1 Pound</option>
                        <option value="2 Pound">2 Pound</option>
                        <option value="3 Pound">3 Pound</option>
                        <option value="4 Pound">4 Pound</option>
                    </select>
                </span>
                <span>
                    <label for="">Flavours</label>
                    <select>
                        <option value="1 Pound">1 Pound</option>
                        <option value="2 Pound">2 Pound</option>
                        <option value="3 Pound">3 Pound</option>
                        <option value="4 Pound">4 Pound</option>
                    </select>
                </span>
            </form>
            
                
            </div>
            <div class="buy-options py-10">
                <span class=""><a href=""><button class="btn-primary px-8 py-2 rounded-full font-bold mx-2 text-white">Buy Now</button></a></span>
                <span class=""><a href=""><button class="btn-primary px-6 py-2 rounded-full font-bold mx-2 text-white">Add to Cart</button></a></span>
            </div>
        </div>
        <div class="wishist">
            <a href=""><i class="fas fa-heart bg-white"></i></a>
        </div>
    </section>
    <section class="">
        <div class="description">
            <h1 class="text-lg font-bold">Cake Description</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam dolorum voluptate, inventore fugit impedit voluptatibus ipsum voluptatem, aspernatur dolorem nostrum, temporibus distinctio dolore repudiandae unde error aliquid! Laborum, quisquam voluptatum!</p>
        </div>
        <div class="advantages my-12 mx-12 rounded-lg text-white font-bold bg-blue-500 flex justify-between content-center items-center h-40">
            <div class="px-10 text-2xl">
                <span><i class="far fa-money-bill-alt text-2xl flex content-center items-center "> Cash On Delivery</i></span>
            </div>
            <div class="">
                <span><i class="fal fa-truck text-2xl flex content-center items-center "> On Time Delivery</i></span>
            </div>
            <div class="px-10">
                <span><i class="fal fa-hat-chef text-2xl flex content-center items-center "> Enriched Flavours</i></span>
            </div>
        </div>
    </section>

    <div class="flex items-center content-center">
        <h1 class="font-bold text-Capitalize">You may also like</h1>
    </div>

    <section class="grid grid-cols-4">
        <section class="flex items-center col-gap-12 row-gap-16">
            <div class="product-card py-10 w-20 md:w-64">
                <div class="product-card-img">
                    <img src="/img/pizza.png" alt="product-img">
                </div>
                <div class="product-card-details">
                    <h1>Vanilla Cake</h1>
                    <h5>1 pound</h5>
                    <div class="product-card-buy">
                        <span>₹<span>777</span></span>
                        <button>
                            <span>+</span>
                            <span>Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="product-card w-10 md:w-64">
                <div class="product-card-img">
                    <img src="/img/pizza.png" alt="product-img">
                </div>
                <div class="product-card-details">
                    <h1>Vanilla Cake</h1>
                    <h5>1 pound</h5>
                    <div class="product-card-buy">
                        <span>₹<span>777</span></span>
                        <button>
                            <span>+</span>
                            <span>Add</span>
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </section>
</section>

<section class="w-full h-1/3 bg-orange-200 py-10">
    <div class="text-center">
        <h1>Your Safety is our Priority!</h1>
        <h5><em>Steps we are taking to keep you safe</em></h5>
    </div>
    <div class="flex items-center content-center justify-around pl-12 pt-10">
        <div class="covid">
            <div class="">
                <span><img src="" alt="covid-image"></span>
                <span>
                    <h1>Sanitization</h1>
                    <p>Our sellers sanitize there hands & kitchen surface in every 3 hours</p>
                </span>
            </div>
            <div class="">
                <span><img src="" alt="covid-image"></span>
                <span>
                    <h1>Sanitization</h1>
                    <p>Our sellers sanitize there hands & kitchen surface in every 3 hours</p>
                </span>
            </div>
            <div class="">
                <span><img src="" alt="covid-image"></span>
                <span>
                    <h1>Sanitization</h1>
                    <p>Our sellers sanitize there hands & kitchen surface in every 3 hours</p>
                </span>
            </div>
            <div class="">
                <span><img src="" alt="covid-image"></span>
                <span>
                    <h1>Sanitization</h1>
                    <p>Our sellers sanitize there hands & kitchen surface in every 3 hours</p>
                </span>
            </div>
        </div>
        <div class="covid px-10">
            <div class="">
                <span><img src="" alt="covid-image"></span>
                <span>
                    <h1>Sanitization</h1>
                    <p>Our sellers sanitize there hands & kitchen surface in every 3 hours</p>
                </span>
            </div>
            <div class="">
                <span><img src="" alt="covid-image"></span>
                <span>
                    <h1>Sanitization</h1>
                    <p>Our sellers sanitize there hands & kitchen surface in every 3 hours</p>
                </span>
            </div>
            <div class="">
                <span><img src="" alt="covid-image"></span>
                <span>
                    <h1>Sanitization</h1>
                    <p>Our sellers sanitize there hands & kitchen surface in every 3 hours</p>
                </span>
            </div>
            <div class="">
                <span><img src="" alt="covid-image"></span>
                <span>
                    <h1>Sanitization</h1>
                    <p>Our sellers sanitize there hands & kitchen surface in every 3 hours</p>
                </span>
            </div>
        </div>
    </div>
</section>

<footer class="w-full h-32 bg-pink-200">
    <p>This is the footer</p>
</footer>