// _varibales.scss:  File name starting with "_" means this is not our main file, but this is a partial file and this file should be included in some other file

// Colors

$primary:#FE5F1E;
$primary-hover: #b23301;
$secondary: #f8f8f8;
$pure: #fff;
$dark: #232323;
$gray: #ccc;


// Transition
$smooth: all .3s ease-in-out; // It will give transition of .3 seconds on all tags.
