<section class="blogpage container mx-auto">
    <h3 class="pt-6 text-lg font-bold text-orange-600">BAKING TIPS, BEYOND THE CAKE</h3>
    <h1 class="blogheading text-lg md:text-2xl lg:text-5xl font-bold uppercase pt-4">Oh So Yummy! Spongy Eggless Vanilla
        Cake Recipe</h1>
    <hr>
    <h4 class="text-lg py-6">Posted By<em> <a class="text-orange-600" href="#" target="_blank" rel="">Rachna Harlalka</a> </em> on <em class="text-orange-600">3rd January 2021</em></h4>
    <img src="/img/blog1.jpg" alt="img" srcset="" class="mx-auto w-full">
    <div class="w-full w-11/12 pt-12 mx-auto">
        <p class="p-6 text-lg">Let us start this cake blog by stating a universal dessert fact: there’s no one
            cake as tempting as spongy vanilla cake. It simply has got no competition at all
            from any other kinds of cakes. And it tends to get even better for all the
            vegetarian friends when it is made into an eggless cakes variant. Before
            relishing any cake, every vegetarian has to check whether the cake contains
            eggs or not which is what exactly spoils the fun/excitement revolving around
            relishing a cake. So here’s an eggless cake recipe that you need to try. Give
            this drool-worthy eggless vanilla cake in the microwave a try as it is light,
            fluffy, easy to make, and is not an eggless vanilla cake with condensed milk.
            So without much ado, let’s begin what all do we need and how to bake this eggless
            delight at home.
        </p>
    </div>
    <div class="w-3/4 w-11/12 pt-12 mx-auto">
        <h2 class="blogheading text-3xl font-bold pt-4">Ingredients</h2>
        <ul class="px-10">
            <li>1 ½ cups all-purpose flour</li>
            <li>1 teaspoon baking powder</li>
            <li>1 cup yogurt</li>
            <li>½ teaspoon baking soda</li>
            <li>¾ cup castor sugar</li>
            <li>½ cup vegetable 0il</li>
            <li>1 teaspoon Vanilla Extract or Vanilla beans</li>
            <li>½ cup crushed walnuts</li>
        </ul>
        <h2 class="blogheading text-3xl font-bold pt-16 ">Instructions</h2>
        <ul class="recipe w-11/12 pt-4 mx-auto">
            <li>
                <p>Start by preheating the oven at 180 degrees C and meanwhile line up a baking tray with parchment
                    paper.</p>
                <img src="/img/set-parchment-paper.jpg" alt="img">
            </li>
            <li>
                <p>Whisk flour and baking powder in a bowl and then set it aside.</p>
                <img src="/img/whisk-flour.jpg" alt="img">
            </li>
            <li>
                <p>Take another bowl and add yogurt. Sprinkle some baking soda on it and set it aside to foam up.</p>
            </li>
            <li>
                <p>Whisk castor sugar and oil in another bowl until well combined and pale.</p>
            </li>
            <li>
                <p>Pour the yogurt and oil-sugar mixture together and mix well.</p>
            </li>
            <li>
                <p>Add the vanilla extract.</p>
            </li>
            <li>
                <p>Using the cut and fold method, until well combined. Make sure you don’t overmix the batter.</p>
                <img src="/img/mix-everything.jpg" alt="img">
            </li>
            <li>
                <p>Add walnuts to the batter and pour the batter in the already prepared baking tray.</p>
                <img src="/img/adding-walnuts.jpg" alt="img">
            </li>
            <li>
                <p>Bake it 180C for 30-35 minutes. Check the doneness of the cake by pricking a toothpick or knife.<br>
                    If it comes out clean, then your cake is ready, you can take it out and place it on a wire rack to
                    cool down.</p>
                <img src="/img/cake-in-oven.jpg" alt="img">
                <p>So, this was one of the easiest vanilla cake recipes without eggs. Hope you enjoyed baking as well as
                    relishing it along with your friends and family. Additionally, you can top up your eggless vanilla
                    cake with chocolate ganache or some whipped cream to turn up it’s yumminess. </p>
            </li>
            <h2 class="blogheading text-3xl font-bold pt-10">Baking Notes:</h2>
            <li>
                <p>Even if you don’t have parchment paper, make sure to coat the baking tin generously with melted
                    butter/oil/baking spray. Otherwise, the spongy eggless vanilla cake will get stuck to the baking
                    tray base even after the cake has been fully baked.</p>
                <img src="/img/coat-the-baking-tin.jpg" alt="img">
            </li>
            <li>
                <p>Make sure you bring all those ingredients like yogurt etc. at room temperature before you bake them.
                </p>
            </li>
            <li>
                <p>Never overmix the batter, while combining the dry and wet ingredients together. If your batter is
                    overmixed, your cake will turn into a dense one, which you surely won’t want. So to avoid such a
                    disaster, just use a spatula and mix the batter by using the cut and fold method – which would seem
                    as if you are drawing a digit 8 with your spatula.</p>
            </li>
            <li>
                <p>Before you start applying frosting to the cake, make sure the cake has fully cooled down. </p>
            </li>
        </ul>
    </div>
</section>
<%- include("../partials/footer.ejs") %>
